<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI_PlatformWeb</title>
    <link rel="stylesheet" href="~/CI_PlatformWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-lg container-fluid">
                <div class="d-flex align-items-center">
                    <button class="navbar-toggler border-0 bg-white p-2" type="button" data-bs-toggle="collapse"
                            data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span><img src="~/images/list.png" alt=""></span>
                    </button>
                    <a class="navbar-nav" asp-area="Volunteer" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo.png"
                             class="mx-3" />
                    </a>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <div class="close-sidemenu d-block d-sm-none">
                            <a role="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                               aria-controls="navbarSupportedContent" aria-expanded="false"
                               aria-label="Toggle navigation">
                                <img src="~/images/cancel1.png" alt="">
                            </a>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Volunteer" asp-controller="Home" asp-action="Index">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Volunteer" asp-controller="Home" asp-action="Privacy">Story</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Privacy
                                <img src="~/images/drop-down.png" />
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                                       asp-action="Privacy">Action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                                       asp-action="Privacy">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="dropdown drop-avatar avatar-hover px-1 px-sm-3 py-1 d-flex align-items-center">
                        <div class="dropdown-toggle d-inline-flex align-items-center" role="button"
                             data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="avtar-nav">
                                <img src="~/images/profile.png" />
                            </div>
                            <span class="px-2 text-secondary d-none d-sm-block">@User.Identity.Name</span>
                            <img class="d-none d-sm-block" src="~/images/drop-down.png" />
                        </div>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                               asp-action="Privacy">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="Volunteer" asp-controller="Login" asp-action="Logout">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <a asp-action="Index" asp-area="Volunteer" asp-controller="Login" class="d-flex align-items-center avatar-hover px-1 px-sm-3 py-1">
                        <div class="avtar-nav">
                            <img src="~/images/profile.png" />
                        </div>
                        <span class="px-2 text-secondary d-none d-sm-block">Login</span>
                    </a>
                }
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CI_PlatformWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/grid_list_toggle.js" asp-append-version="true"></script>
    <script src="~/js/media.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
