<div id="myfilter" class="overlay">
    <a class="closefilter closebtn" onclick="closefilter()">&times;</a>
    <div class="overlay-content">
        <div class="dropdown">
            <a class="dropdown-toggle d-inline-flex justify-content-between align-items-center"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="pe-1">Country</span>
                <img src="~/images/drop-down.png" />
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Action</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Another action</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <a class="dropdown-toggle d-inline-flex justify-content-between align-items-center"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="pe-1">City</span>
                <img src="~/images/drop-down.png" />
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Action</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Another action</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <a class="dropdown-toggle d-inline-flex justify-content-between align-items-center"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="pe-1">Theme</span>
                <img src="~/images/drop-down.png" />
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Action</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Another action</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <a class="dropdown-toggle d-inline-flex justify-content-between align-items-center"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="pe-1">Skills</span>
                <img src="~/images/drop-down.png" />
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Action</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Another action</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <a class="dropdown-toggle d-inline-flex justify-content-between align-items-center"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="pe-1">Sort By</span>
                <img src="~/images/drop-down.png" />
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Action</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Another action</a>
                </li><li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Action</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Another action</a>
                </li><li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Action</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Another action</a>
                </li><li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Action</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Another action</a>
                </li><li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Action</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Another action</a>
                </li><li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Action</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                       asp-action="Privacy">Another action</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<script src="~/js/filter.js" asp-append-version="true"></script>