<div class="border-bottom shadow-sm mb-1 mb-sm-3">
    <div class="container-lg container-fluid">
        <div class="row align-items-center align-items-sm-stretch">
            <div class="col-10 col-md-6 col-sm-4">
                <div class="my-2 position-relative d-flex">
                    <label for="search">
                        <img src="~/images/search.png" alt="search" class="search-icon">
                    </label>
                    <input type="search" name="search" id="search" class="search-box border-0"
                           placeholder="Search mission...">
                </div>
            </div>
            <div class="col-2 d-block d-sm-none py-1">
                <button class="p-1 filter-btn rounded-3 bg-white" id="filtertoggle" onclick="openfilter()">
                    <img src="~/images/filter.png" alt="filter" width="24" height="24">
                </button>
            </div>
            <div class="col-12 col-md-6 col-sm-8 d-none d-sm-block">
                <div class="row h-100">
                    <div class="col-3 dropdown d-flex align-items-center border-start px-1 px-sm-2">
                        <div class="w-100 dropdown-toggle d-inline-flex justify-content-between align-items-center"
                             role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="pe-1 text-secondary">Country</span>
                            <img src="~/images/drop-down.png" />
                        </div>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                                   asp-action="Privacy">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                                   asp-action="Privacy">Another action</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3 dropdown d-flex align-items-center border-start px-1 px-sm-2">
                        <div class="w-100 dropdown-toggle d-inline-flex justify-content-between align-items-center"
                             role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="pe-1 text-secondary">City</span>
                            <img src="~/images/drop-down.png" />
                        </div>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                                   asp-action="Privacy">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                                   asp-action="Privacy">Another action</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3 dropdown d-flex align-items-center border-start px-1 px-sm-2">
                        <div class="w-100 dropdown-toggle d-inline-flex justify-content-between align-items-center"
                             role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="pe-1 text-secondary">Theme</span>
                            <img src="~/images/drop-down.png" />
                        </div>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                                   asp-action="Privacy">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                                   asp-action="Privacy">Another action</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3 dropdown d-flex align-items-center border-start border-end px-1 px-sm-2">
                        <div class="w-100 dropdown-toggle d-inline-flex justify-content-between align-items-center"
                             role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="pe-1 text-secondary">Skills</span>
                            <img src="~/images/drop-down.png" />
                        </div>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                                   asp-action="Privacy">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="Volunteer" asp-controller="Home"
                                   asp-action="Privacy">Another action</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>