<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script>
    $('select').selectpicker();
    $(document).on("click", ".send-mission-id", function () {
         var mId = $(this).data('id');
         $("#missinid").val( mId );
    });
    function recommended_mission(){
        var mailids =[];
        mailids= $('#mailids').val();
        var mid = document.getElementById("missinid").value;
        $.ajax({
                type: 'POST',
                url: "/Volunteer/Mission/Recommended_Mission",
                data: { 'missoinid': mid , 'mailids':mailids },
                beforeSend: function(){
                    $("#loader").removeClass('d-none');
                },
                success: function (res) {
                    toastr.success("Mail sent Successfully!!", "Success Message", { timeOut: 3000, "positionClass": "toast-bottom-right", "closeButton": true, "progressBar": true });
                },
                error: function (data) {
                    toastr.error("Please Login First", "Error Message", { timeOut: 3000, "positionClass": "toast-bottom-right", "closeButton": true, "progressBar": true });
                },
                complete: function() {
                    $("#loader").addClass('d-none');
                    $("#mailmodal").modal('hide');
                }
            });
    }
</script>

<div id="loader" class="d-none">
    <img src="~/images/loader.gif" />
</div>


<div class="modal fade" id="mailmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Recommended a Mission</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @{
                    var identity = User.Identity as ClaimsIdentity;
                    var eid = identity?.FindFirst(ClaimTypes.Email)?.Value;
                }
                <input type="text" name="missionid" id="missinid" value="" hidden />
                <select class="selectpicker w-100" multiple data-live-search="true" id="mailids">
                    @foreach (var i in Model.users)
                    {
                        if (eid != i.Email)
                        {
                            <option value="@i.Email">
                                @i.FirstName @i.LastName
                            </option>
                        }
                    }
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-ci-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn-ci-primary" onclick="recommended_mission()">Send</button>
            </div>
        </div>
    </div>
</div>