* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #414141;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #F88634;
    }

label {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #F88634;
    font-size: 16px;
}

    a:hover {
        color: #414141;
        font-size: 16px;
    }

.form-control {
    border: 1px solid #D9D9D9;
    color: #414141;
    font-size: 16px;
    height: 40px;
    padding: auto;
}

    .form-control:focus {
        color: #414141;
        border: 1px solid #F88634 !important;
        box-shadow: 0px 0px 10px #F886341F;
    }

.btn-ci-primary {
    color: #F88634;
    border: 2px solid #F88634;
    border-radius: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline: 20px;
    background: inherit;
}

    .btn-ci-primary:hover {
        color: #ffffff;
        border: 2px solid #F88634;
        background-color: #F88634;
    }

.btn-ci-white {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline: 20px;
    background: inherit;
}

    .btn-ci-white:hover {
        color: #F88634;
        border: 2px solid #FFFFFF;
        background-color: #FFFFFF;
    }

.btn-ci-secondary {
    color: #414141;
    border: 2px solid #414141;
    border-radius: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline: 20px;
    background: inherit;
}

    .btn-ci-secondary:hover {
        color: #ffffff !important;
        border: 2px solid #7e7e7e;
        background-color: #7e7e7e;
    }

        .btn-ci-secondary:hover span {
            color: #ffffff !important;
        }

.btn-ci-primary:hover img {
    content: url('../images/right-arrow-white.png');
}

.btn-ci-white:hover img {
    content: url('../images/right-arrow.png');
}

.fav-btn:hover img {
    content: url("../images/heart.png");
}

.share-btn:hover img {
    content: url("../images/user.png");
}

.bg-ci-primary {
    background-color: #F88634 !important;
}

.fs-7 {
    font-size: 14px !important;
}

.fs-time {
    font-size: 12px !important;
}

.eye {
    position: absolute;
    bottom: 8px;
    right: 10px;
    cursor: pointer;
    padding: 5px;
}

.eye_close {
    width: 26px;
    border: 1px solid black;
    position: absolute;
    bottom: 2px;
    right: 12px;
    -webkit-transform: rotate(-26deg);
}

.avtar-nav {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

    .avtar-nav img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
    }

.navbar-toggler:hover {
    box-shadow: 0 0 0 2px #F88634 !important;
}

.dropdown-toggle::after {
    content: none;
}

.avatar-hover:hover {
    box-shadow: 0 0 0 0.5px #F88634 !important;
    border-radius: 10px;
}

[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 10px;
    background-image: url(../images/cancel1.png);
    background-size: 10px 10px;
}

.search-icon {
    z-index: 1;
    position: absolute;
    top: 7px;
    left: 7px;
}

.search-box {
    height: 35px;
    padding-left: 35px;
    padding-right: 10px;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
}

    .search-box:hover {
        box-shadow: 0 0 0 0.3px #F88634;
    }

    .search-box:focus {
        box-shadow: 0 0 3px #F88634;
        outline: none;
    }

.nav-link {
    color: #414141;
}

    .nav-link:hover {
        color: #F88634 !important;
    }

.drop-avatar .dropdown-menu {
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
    top: 42px;
    right: 0;
}

.drop-avatar:hover .dropdown-menu {
    transform: scale(1);
}

.dropdown-menu li a:hover {
    background-color: #F88634;
    color: #ffffff;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.card-min-h {
    min-height: 220px;
}

.close-sidemenu {
    position: absolute;
    top: 10px;
    right: 15px;
}

/* pagination */
.page-item {
    padding-inline: 5px;
}

.page-link {
    color: #F88634;
    border-radius: 5px;
}

    .page-link:hover {
        color: #FFFFFF;
        background-color: #F88634 !important;
        border: 1px solid #F88634;
    }

    .page-link:focus {
        color: #FFFFFF;
        background-color: #ffbc8c !important;
        border: 1px solid #F88634;
        box-shadow: none;
    }

.page-item .active {
    color: #FFFFFF;
    background-color: #F88634 !important;
    border: 1px solid #F88634;
}

.nav-tabs .nav-link {
    transition: none;
}

    .nav-tabs .nav-link:hover {
        border: none;
        border-bottom: 2px solid #F88634 !important;
    }

.nav-tabs .active {
    color: #F88634 !important;
    border: none;
    border-bottom: 2px solid #F88634 !important;
}

#tableRating tbody > tr:last-child > td {
    border-bottom: 0;
}

.line-h {
    line-height: 100%;
}

.progress {
    min-width: 100px !important;
}

.filter-btn {
    border: 1px solid #757575;
}

    .filter-btn:focus {
        border: 1px solid #F88634;
        background-color: #D9D9D9 !important;
    }

.sort-by {
    height: 30px;
    min-width: 180px;
    padding-inline: 8px;
}

.grid-active {
    background-color: #D9D9D9 !important;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
}

    .overlay-content .dropdown-menu {
        max-height: 250px;
        overflow-y: scroll;
    }

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #414141;
    display: block;
    transition: 0.3s;
}

    .overlay a:hover,
    .overlay a:focus {
        color: #414141;
    }

.overlay .closebtn {
    font-size: 36px;
    margin-left: 15px;
}

@media (max-width: 575px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 10px;
        padding-inline: 20px;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        box-shadow: 0 0 10px 0.5px #000000;
        z-index: 10000;
    }

        .navbar-collapse.collapsing {
            left: -100%;
            transition: height 0s ease;
        }

        .navbar-collapse.show {
            left: 0;
            transition: left 300ms ease-in-out;
        }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}

@media screen and (max-width:871px) {
    #grid {
        display: none;
    }

    #list {
        display: none;
    }
}
