.share-story-img-box {
    height: 35vh !important;
    width: 100%;
}

    .share-story-img-box img {
        object-fit: cover;
    }

.story-theme {
    bottom: -17px;
}

.story-hover {
    opacity: 0;
    transition: all ease-in-out .5s;
}

#story-card:hover .story-hover {
    opacity: 1;
}
