.share-story-img-box {
    height: 35vh !important;
    width: 100%;
}

    .share-story-img-box img {
        object-fit: cover;
    }

.story-theme {
    bottom: -17px;
}

.story-hover {
    opacity: 0;
    transition: all ease-in-out .5s;
}

#story-card:hover .story-hover {
    opacity: 1;
}

.story-status {
    height: 30px;
    position: absolute;
    left: 0px;
    top: 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding-inline: 15px;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

    .story-status p {
        padding: 0;
        margin: 0;
        color: #ffffff;
        font-size: 14px;
        white-space: nowrap;
    }
