*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #414141;
}
label{
    font-size: 16px;
}
.form-control{
    border: 1px solid #D9D9D9;
    color: #414141;
    font-size: 16px;
    height: 40px;
    padding: auto;
}
.form-control:focus{
    color: #414141;
    border: 1px solid #2B64B1;
    box-shadow: 0px 0px 10px #2B64B11F;
}
.btn-ci-primary{
    color: #F88634;
    border: 2px solid #F88634;
    border-radius: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline: 30px;
    background: inherit;
}
.btn-ci-primary:hover{
    color: #ffffff;
    border: 2px solid #F88634;
    background-color: #F88634;
}
.eye{
    position: absolute;
    bottom: 8px;
    right: 10px;
    cursor: pointer;
    padding: 5px;
}
a{
    text-decoration: none;
    color: #414141;
    font-size: 16px;
    font-weight: 600;
}
a:hover{
    color: #2d2d3e;
    font-size: 16px;
    text-shadow: 0 0 0.5px #2B64B1;
}
.carousel-caption h1, .carousel-caption p{
    color: #ffffff;
    text-align: left;
}
.fs-7{
    font-size: 14px!important;
}
.row-res{
    height: 100vh;
}
.privacy{
    height: 90%!important;
}

@media screen and (max-width:992px){
    .row-res{
        height: auto;
    }
}
@media screen and (max-width:650px) {
    .carousel-caption h1{
        font-size: 22px;
    }
    .carousel-caption p{
        font-size: 12px!important;
        margin-bottom: -25px!important;
    }
}