@model City
@{
    ViewData["Title"] = "EditCity";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<div class="w-100">
    <div class="border rounded-1">
        <div class="px-3 py-2 fs-3 border-bottom bg-light">
            Add
        </div>
        <div class="p-3">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group pb-3">
                    <label asp-for="Name" class="form-label text-muted">City Name<span class="text-ci-danger fs-7"> *</span></label>
                    <input asp-for="Name" class="form-control" placeholder="Enter City Name" />
                    <span asp-validation-for="Name" class="text-ci-danger fs-7"></span>
                </div>
                <div class="form-group pb-3">
                    <label asp-for="CountryId" class="form-label text-muted">Select Country<span class="text-ci-danger fs-7"> *</span></label>
                    <select asp-for="CountryId" class="form-control">
                        @foreach (var i in ViewBag.country)
                        {
                            <option value="@i.CountryId">@i.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CountryId" class="text-ci-danger fs-7"></span>
                </div>
                <div class="form-group text-end">
                    <a role="button" class="btn-ci-secondary" asp-action="Country" asp-controller="CountryCity" asp-area="Admin">Cancel</a>
                    <input type="submit" value="Save" class="open-loader btn-ci-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(()=>{
        $("#cityLi").addClass('active');
    })
</script>