@model Admin
@{
    ViewData["Title"] = "AddNewAdmin";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<script src="~/js/match_pass.js"></script>
<script src="~/js/password_hide_show.js"></script>

<div class="w-100">
    <div class="border rounded-1">
        <div class="px-3 py-2 fs-3 border-bottom bg-light">
            Add Admin
        </div>
        <div class="p-3">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="FisrtName" class="form-label text-muted">First Name<span class="text-ci-danger fs-7"> *</span></label>
                    <input asp-for="FisrtName" class="form-control" placeholder="Enter First Name" />
                    <span asp-validation-for="FisrtName" class="text-ci-danger fs-7"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="LastName" class="form-label text-muted">Last Name<span class="text-ci-danger fs-7"> *</span></label>
                    <input asp-for="LastName" class="form-control" placeholder="Enter Last Name" />
                    <span asp-validation-for="LastName" class="text-ci-danger fs-7"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Email" class="form-label text-muted">Email Id<span class="text-ci-danger fs-7"> *</span></label>
                    <input asp-for="Email" class="form-control bg-transparent" placeholder="Enter Email Address" />
                    <span asp-validation-for="Email" class="text-ci-danger fs-7"></span>
                </div>
                <div class="form-group position-relative">
                    <label asp-for="Password" class="form-label text-muted">Password<span class="text-ci-danger fs-7"> *</span></label>
                    <input type="password" asp-for="Password" class="form-control" id="new-pass" placeholder="Enter New Password" />
                    <span onclick="showPass('new-pass')">
                        <img src="~/images/eye_open.png" alt="eye" class="eye" id="eye-open">
                        <hr class="eye_close visually-hidden" id="eye_close-new-pass" />
                    </span>
                </div>
                <span asp-validation-for="Password" id="pass-limit-error" class="text-ci-danger fs-7"></span>
                <div class="position-relative mt-3">
                    <label class="form-label text-muted">Confirm Password<span class="text-ci-danger fs-7"> *</span></label>
                    <input type="password" name="cnfPass" class="form-control" id="cnf-pass"
                           placeholder="Enter Confirm Password" />
                    <span onclick="showPass('cnf-pass')">
                        <img src="~/images/eye_open.png" alt="eye" class="eye" id="eye-open">
                        <hr class="eye_close visually-hidden" id="eye_close-cnf-pass" />
                    </span>
                </div>
                <span id="pass-error" class="text-ci-danger fs-7"> @(ViewBag.passerr != null ? ViewBag.passerr : "")</span>
                <div class="form-group text-end mt-3">
                    <a role="button" class="btn-ci-secondary" asp-action="Index" asp-controller="Admin" asp-area="Admin">Cancel</a>
                    <input type="submit" id="regi" value="Save" class="open-loader btn-ci-primary" />
                </div>
            </form>
        </div>
    </div>
</div>