@model Story
<link rel="stylesheet" href="~/css/imageUploder.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/story_page.css">

<div class="container-lg container-fluid mt-3">
    <form enctype="multipart/form-data" method="post">
        <h1 class="text-muted">Share your story</h1>
        <div class="row text-muted">
            <div class="col-12 col-sm-6">
                <label class="form-label mt-3">Select Mission</label>
                <select class="form-select text-muted" asp-for="MissionId" asp-items="ViewBag.MissionId">
                </select>
            </div>
            <div class="col-12 col-sm-6">
                <label class="form-label mt-3" asp-for="Title">My Story Title</label>
                <input type="text" class="form-control text-muted" placeholder="Enter story title" asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="row text-muted">
            <div class="col-12">
                <label class="form-label mt-3" asp-for="ShortDescription">Short Description</label>
                <input type="text" class="form-control text-muted" placeholder="Enter Short Description" asp-for="ShortDescription" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="row text-muted">
            <div class="col-12">
                <label class="form-label mt-3">My Story</label>
                <textarea asp-for="Description" id="editor">
                </textarea>
                <div class="w-100 border border-top-0 ck-toolbar" style="height:25px; border-color:#ccced1!important;">
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        @*<div class="row text-muted">
            <div class="col-12">
            <label class="form-label mt-3">Enter Video URL</label>
            <input type="text" class="form-control text-muted" placeholder="Enter your url" />
            </div>
            </div>*@
        <div class="row text-muted drag-area">
            @*<div class="col-12">
                <label class="form-label mt-3">Upload your Photos</label>
                <div class="position-relative image-uploder">
                <label for="filestory" class="image-uploder-box">
                <span><img src="~/images/plus.png" /></span>
                <span class="m-0 fs-7">Drag And Drop Pictures here</span>
                </label>
                <input name="file" type="file" id="filestory" class="form-control text-muted" multiple hidden />
                </div>
                </div>
                <div class="col-12 img-container">
                </div>*@
            <div class="field">
                <label class="form-label mt-3">Upload your Photos</label>
                <lable class="input-images d-block"></lable>
            </div>
            @if (ViewBag.imgerr != null)
            {
                <span class="text-danger">@ViewBag.imgerr</span>
            }
        </div>
        <div class="row my-3">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <a class="btn-ci-secondary" asp-action="Story" asp-controller="Story" asp-area="Volunteer">Cancel</a>
                <div class="d-flex">
                    <input type="submit" class="btn-ci-primary me-2" name="action" value="Save" />
                    <input type="submit" class="btn-ci-primary" name="action" value="Submit" />
                </div>
            </div>
        </div>
    </form>
</div>



<script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/super-build/ckeditor.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/js/ckeditor.js" asp-append-version="true"></script>
<script src="~/js/imageUploder.js" asp-append-version="true"></script>

<script>
    let preloaded = [

    ];
    $('.input-images').imageUploader({
        preloaded: preloaded,
        maxSize: 0.5 * 1024 * 1024,
        maxFiles: 20
    });

</script>