<div class="container-lg container-fluid mt-3">
    <h1 class="text-muted">Share your story</h1>
    <form>
        <div class="row text-muted">
            <div class="col-12 col-md-6 col-sm-4">
                <label class="form-label mt-3">Select Mission</label>
                <select class="form-select text-muted">
                    <option>Select Your Mission</option>
                </select>
            </div>
            <div class="col-12 col-md-6 col-sm-4">
                <label class="form-label mt-3">My Story Title</label>
                <input type="text" class="form-control text-muted" />
            </div>
            <div class="col-12 col-md-6 col-sm-4">
                <label class="form-label mt-3">Select Date</label>
                <input type="date" class="form-control text-muted" />
            </div>
        </div>
        <div class="row text-muted">
            <div class="col-12">
                <label class="form-label mt-3">Short Description</label>
                <input type="text" class="form-control text-muted" />
            </div>
        </div>
        <div class="row text-muted">
            <div class="col-12">
                <label class="form-label mt-3">My Story</label>
                <textarea cols="100" rows="5"
                          class="form-control mb-3 fs-7" placeholder="Post Your Comment...">
                      </textarea>
            </div>
        </div>
    </form>
</div>