@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/mission_page.css" asp-append-version="true" />
<partial name="filter"></partial>

<partial name="secondNav"></partial>

<div class="container-lg container-fluid py-3">
    <div class="d-inline-flex align-items-center">
        <span class="fs-7 border px-2 rounded-pill text-secondary d-inline-flex align-items-center">
            Tree Plant
            <a href="">
                <img src="~/images/cancel.png" alt="" class="ms-2">
            </a>
        </span>
        <span>
            <a href="" class="text-secondary ms-2 fs-7">Clear all</a>
        </span>
    </div>
</div>
<div class="container-lg container-fluid">
    <div class="d-inline-flex align-items-center justify-content-between w-100">
        <div class="fs-3">Explore <strong>72</strong> missions</div>
        <div class="d-none d-sm-block">
            <select class="sort-by my-1 me-3">
                <option value="">Sort By</option>
            </select>
            <button class="p-2 border-0 bg-white rounded-circle grid-active" id="grid">
                <img src="~/images/grid.png"
                     alt="">
            </button>
            <button class="p-2 border-0 bg-white rounded-circle" id="list">
                <img src="~/images/list.png"
                     alt="">
            </button>
        </div>
    </div>
</div>
<div class="container-lg container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 missions-view mt-3 mb-3">
            <a asp-area="Volunteer" asp-action="Mission_volunteering" asp-controller="Home">
                <div class="card">
                    <div class="row list position-relative card-min-h">
                        <div class="col-listview-img col-12">
                            <div class="position-relative w-100 h-100">
                                <div class="city-name">
                                    <img src="~/images/pin.png" alt="" class="w-100 h-100">
                                    <p>Abc</p>
                                </div>
                                <button class="like-mission">
                                    <img src="~/images/heart.png" alt="" class="w-100 h-100">
                                </button>
                                <button class="share-mission">
                                    <img src="~/images/user.png" alt="" class="w-100 h-100">
                                </button>
                                <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="card-img-top" alt="a">
                                <div class="w-100 position-relative d-flex justify-content-center">
                                    <div class="theme-mission">
                                        Environment
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-listview-body col-12">
                            <div class="card-body">
                                <h5 class="card-title">Title</h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit dolor adipisci
                                    assumenda
                                    odio maxime maiores.
                                </p>
                                <div class="rating">
                                    <div class="h-100">
                                        <img src="~/images/pin1.png" alt="pin1" class="d-none">
                                        <span class="pin d-none">India</span>
                                        <img src="~/images/web.png" alt="web" class="d-none">
                                        <span class="theme d-none">Environment</span>
                                        <img src="~/images/organization.png" alt="organization" class="d-none">
                                        <span class="orga">Australian Paradise</span>
                                    </div>
                                    <span class="rating-img">
                                        <img src="~/images/selected-star.png" alt="">
                                        <img src="~/images/selected-star.png" alt="">
                                        <img src="~/images/selected-star.png" alt="">
                                        <img src="~/images/star.png" alt="">
                                        <img src="~/images/star.png" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="time-goal">
                                <hr>
                                <div class="timeline">
                                    <div class="fs-7">
                                        From 20/04/2020 until 20/05/2020
                                    </div>
                                </div>
                                <div class="seat-left m-3 mt-4 d-flex justify-content-between align-content-center">
                                    <div class="d-flex justify-content-between flex-wrap p-0 m-0 h-100 w-100">
                                        <div class="d-flex align-items-center h-100 seat-listview">
                                            <div class="px-2">
                                                <img src="~/images/Seats-left.png" alt="">
                                            </div>
                                            <div class="seat">
                                                <h6 class="p-0 m-0">10</h6>
                                                <span class="fs-7">Seats left</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center h-100 deadline-listview">
                                            <div class="px-2">
                                                <img src="~/images/deadline.png" alt="">
                                            </div>
                                            <div class="deadline">
                                                <h6 class="p-0 m-0">09/05/2020</h6>
                                                <span class="fs-7">Deadline</span>
                                            </div>
                                        </div>
                                        <div class="d-none align-items-center h-100 range-listview">
                                            <div class="px-2">
                                                <img src="~/images/calender.png" alt="">
                                            </div>
                                            <div class="range">
                                                <h6 class="p-0 m-0">From 20/04/2020</h6>
                                                <h6 class="p-0 m-0">Until 20/05/2020</h6>
                                            </div>
                                        </div>
                                        <div class="d-none align-items-center h-100 skill-listview">
                                            <div class="px-2">
                                                <img src="~/images/skill.png" alt="">
                                            </div>
                                            <div class="skill">
                                                <h6 class="p-0 m-0">Skills</h6>
                                                <span class="fs-7">Teaching English</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none button-listview align-items-center pe-2">
                                        <div class="listview-button">
                                            <button class="btn-ci-primary d-inline-flex align-items-center">
                                                Apply&nbsp;&nbsp;&nbsp;<img src="~/images/right-arrow.png" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-2">
                                <div class="text-center pb-2 button">
                                    <button class="btn-ci-primary">
                                        Apply&nbsp;&nbsp;&nbsp;<img src="~/images/right-arrow.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div><div class="col-12 col-sm-6 col-lg-4 missions-view mt-3 mb-3">
            <a asp-area="Volunteer" asp-action="Mission_volunteering" asp-controller="Home">
                <div class="card">
                    <div class="row list position-relative card-min-h">
                        <div class="col-listview-img col-12">
                            <div class="position-relative w-100 h-100">
                                <div class="city-name">
                                    <img src="~/images/pin.png" alt="" class="w-100 h-100">
                                    <p>Abc</p>
                                </div>
                                <button class="like-mission">
                                    <img src="~/images/heart.png" alt="" class="w-100 h-100">
                                </button>
                                <button class="share-mission">
                                    <img src="~/images/user.png" alt="" class="w-100 h-100">
                                </button>
                                <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="a">
                                <div class="w-100 position-relative d-flex justify-content-center">
                                    <div class="theme-mission">
                                        Environment
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-listview-body col-12">
                            <div class="card-body">
                                <h5 class="card-title">Title</h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit dolor adipisci
                                    assumenda
                                    odio maxime maiores.
                                </p>
                                <div class="rating">
                                    <div class="h-100">
                                        <img src="~/images/pin1.png" alt="pin1" class="d-none">
                                        <span class="pin d-none">India</span>
                                        <img src="~/images/web.png" alt="web" class="d-none">
                                        <span class="theme d-none">Environment</span>
                                        <img src="~/images/organization.png" alt="organization" class="d-none">
                                        <span class="orga">Australian Paradise</span>
                                    </div>
                                    <span class="rating-img">
                                        <img src="~/images/selected-star.png" alt="">
                                        <img src="~/images/selected-star.png" alt="">
                                        <img src="~/images/selected-star.png" alt="">
                                        <img src="~/images/star.png" alt="">
                                        <img src="~/images/star.png" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="time-goal">
                                <hr>
                                <div class="timeline">
                                    <div class="fs-7">
                                        From 20/04/2020 until 20/05/2020
                                    </div>
                                </div>
                                <div class="seat-left m-3 mt-4 d-flex justify-content-between align-content-center">
                                    <div class="d-flex justify-content-between flex-wrap p-0 m-0 h-100 w-100">
                                        <div class="d-flex align-items-center h-100 seat-listview">
                                            <div class="px-2">
                                                <img src="~/images/Seats-left.png" alt="">
                                            </div>
                                            <div class="seat">
                                                <h6 class="p-0 m-0">10</h6>
                                                <span class="fs-7">Seats left</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center h-100 deadline-listview">
                                            <div class="px-2">
                                                <img src="~/images/deadline.png" alt="">
                                            </div>
                                            <div class="deadline">
                                                <h6 class="p-0 m-0">09/05/2020</h6>
                                                <span class="fs-7">Deadline</span>
                                            </div>
                                        </div>
                                        <div class="d-none align-items-center h-100 range-listview">
                                            <div class="px-2">
                                                <img src="~/images/calender.png" alt="">
                                            </div>
                                            <div class="range">
                                                <h6 class="p-0 m-0">From 20/04/2020</h6>
                                                <h6 class="p-0 m-0">Until 20/05/2020</h6>
                                            </div>
                                        </div>
                                        <div class="d-none align-items-center h-100 skill-listview">
                                            <div class="px-2">
                                                <img src="~/images/skill.png" alt="">
                                            </div>
                                            <div class="skill">
                                                <h6 class="p-0 m-0">Skills</h6>
                                                <span class="fs-7">Teaching English</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none button-listview align-items-center pe-2">
                                        <div class="listview-button">
                                            <button class="btn-ci-primary d-inline-flex align-items-center">
                                                Apply&nbsp;&nbsp;&nbsp;<img src="~/images/right-arrow.png" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-2">
                                <div class="text-center pb-2 button">
                                    <button class="btn-ci-primary">
                                        Apply&nbsp;&nbsp;&nbsp;<img src="~/images/right-arrow.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div><div class="col-12 col-sm-6 col-lg-4 missions-view mt-3 mb-3">
            <a asp-area="Volunteer" asp-action="Mission_volunteering" asp-controller="Home">
                <div class="card">
                    <div class="row list position-relative card-min-h">
                        <div class="col-listview-img col-12">
                            <div class="position-relative w-100 h-100">
                                <div class="city-name">
                                    <img src="~/images/pin.png" alt="" class="w-100 h-100">
                                    <p>Abc</p>
                                </div>
                                <button class="like-mission">
                                    <img src="~/images/heart.png" alt="" class="w-100 h-100">
                                </button>
                                <button class="share-mission">
                                    <img src="~/images/user.png" alt="" class="w-100 h-100">
                                </button>
                                <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-4.png" class="card-img-top" alt="a">
                                <div class="w-100 position-relative d-flex justify-content-center">
                                    <div class="theme-mission">
                                        Environment
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-listview-body col-12">
                            <div class="card-body">
                                <h5 class="card-title">Title</h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit dolor adipisci
                                    assumenda
                                    odio maxime maiores.
                                </p>
                                <div class="rating">
                                    <div class="h-100">
                                        <img src="~/images/pin1.png" alt="pin1" class="d-none">
                                        <span class="pin d-none">India</span>
                                        <img src="~/images/web.png" alt="web" class="d-none">
                                        <span class="theme d-none">Environment</span>
                                        <img src="~/images/organization.png" alt="organization" class="d-none">
                                        <span class="orga">Australian Paradise</span>
                                    </div>
                                    <span class="rating-img">
                                        <img src="~/images/selected-star.png" alt="">
                                        <img src="~/images/selected-star.png" alt="">
                                        <img src="~/images/selected-star.png" alt="">
                                        <img src="~/images/star.png" alt="">
                                        <img src="~/images/star.png" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="time-goal">
                                <hr>
                                <div class="timeline">
                                    <div class="fs-7">
                                        From 20/04/2020 until 20/05/2020
                                    </div>
                                </div>
                                <div class="seat-left m-3 mt-4 d-flex justify-content-between align-content-center">
                                    <div class="d-flex justify-content-between flex-wrap p-0 m-0 h-100 w-100">
                                        <div class="d-flex align-items-center h-100 seat-listview">
                                            <div class="px-2">
                                                <img src="~/images/Seats-left.png" alt="">
                                            </div>
                                            <div class="seat">
                                                <h6 class="p-0 m-0">10</h6>
                                                <span class="fs-7">Seats left</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center h-100 deadline-listview">
                                            <div class="px-2">
                                                <img src="~/images/deadline.png" alt="">
                                            </div>
                                            <div class="deadline">
                                                <h6 class="p-0 m-0">09/05/2020</h6>
                                                <span class="fs-7">Deadline</span>
                                            </div>
                                        </div>
                                        <div class="d-none align-items-center h-100 range-listview">
                                            <div class="px-2">
                                                <img src="~/images/calender.png" alt="">
                                            </div>
                                            <div class="range">
                                                <h6 class="p-0 m-0">From 20/04/2020</h6>
                                                <h6 class="p-0 m-0">Until 20/05/2020</h6>
                                            </div>
                                        </div>
                                        <div class="d-none align-items-center h-100 skill-listview">
                                            <div class="px-2">
                                                <img src="~/images/skill.png" alt="">
                                            </div>
                                            <div class="skill">
                                                <h6 class="p-0 m-0">Skills</h6>
                                                <span class="fs-7">Teaching English</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none button-listview align-items-center pe-2">
                                        <div class="listview-button">
                                            <button class="btn-ci-primary d-inline-flex align-items-center">
                                                Apply&nbsp;&nbsp;&nbsp;<img src="~/images/right-arrow.png" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-2">
                                <div class="text-center pb-2 button">
                                    <button class="btn-ci-primary">
                                        Apply&nbsp;&nbsp;&nbsp;<img src="~/images/right-arrow.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<nav aria-label="Page" class="my-4">
    <ul class="pagination-sm pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&lsaquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link active" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&rsaquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>