@{
    ViewData["Title"] = "Mission_volunteering";
}
<link rel="stylesheet" href="~/css/mission_volunteer.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/mission_page.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/img.css" asp-append-version="true">
<script>
    currentSlide(1);
</script>
<partial name="filter"></partial>

<partial name="secondNav"></partial>


<div class="container-lg container-fluid">
    <div class="row">
        <div class="col-lg-6 col-12 p-0 position-relative">
            <div class="mySlides">
                <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                     style="width:100%">
            </div>
            <div class="mySlides">
                <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                     style="width:100%">
            </div>
            <div class="mySlides">
                <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                     style="width:100%">
            </div>
            <div class="mySlides">
                <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                     style="width:100%">
            </div>

            <div class="mySlides">
                <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                     style="width:100%">
            </div>
            <div class="mySlides">
                <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                     style="width:100%">
            </div>
            <div class="mySlides">
                <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                     style="width:100%">
            </div>
            <div class="mySlides">
                <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                     style="width:100%">
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Thumbnail images -->
            <div class="justify-content-center py-1 thumbnails-img">
                <div class="column px-1">
                    <img class="demo cursor"
                         src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                         style="width:100%" onclick="currentSlide(1)" alt="wait">
                </div>
                <div class="column px-1">
                    <img class="demo cursor"
                         src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                         style="width:100%" onclick="currentSlide(2)" alt="wait">
                </div>
                <div class="column px-1">
                    <img class="demo cursor"
                         src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                         style="width:100%" onclick="currentSlide(3)" alt="wait">
                </div>
                <div class="column px-1">
                    <img class="demo cursor"
                         src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                         style="width:100%" onclick="currentSlide(4)" alt="wait">
                </div>

                <div class="column px-1">
                    <img class="demo cursor"
                         src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                         style="width:100%" onclick="currentSlide(5)" alt="wait">
                </div>
                <div class="column px-1">
                    <img class="demo cursor"
                         src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                         style="width:100%" onclick="currentSlide(6)" alt="wait">
                </div>
                <div class="column px-1">
                    <img class="demo cursor"
                         src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                         style="width:100%" onclick="currentSlide(7)" alt="wait">
                </div>
                <div class="column px-1">
                    <img class="demo cursor"
                         src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                         style="width:100%" onclick="currentSlide(8)" alt="wait">
                </div>

            </div>
        </div>



        <div class="col-lg-6 col-12 text-muted ps-md-5 py-3 py-md-0">
            <div class="vol-title mb-4">
                <h3>Title</h3>
                <p class="p-0 m-0 fs-7">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem harum id possimus maiores
                    error vero. Corporis, doloremque laborum? Voluptate, quisquam.
                </p>
            </div>
            <div class="position-relative mb-4">
                <hr class="my-2 border">
                <div class="timeline">
                    <div class="fs-7">
                        Plant 10,000 Trees
                    </div>
                </div>
            </div>
            <div class="d-flex w-100">
                <div class="d-flex align-items-center justify-content-around h-100 w-50">
                    <div class="px-2 w-50 text-end">
                        <img src="~/images/Seats-left.png" alt="">
                    </div>
                    <div class="w-50">
                        <h6 class="p-0 m-0">10</h6>
                        <span class="fs-7">Seats left</span>
                    </div>
                </div>
                <div class="d-flex align-items-center h-100 w-50">
                    <div class="px-2 w-25 text-end">
                        <img src="~/images/achieved.png" alt="">
                    </div>
                    <div class="w-75">
                        <div class="progress w-75">
                            <div class="progress-bar bg-ci-primary" role="progressbar" style="width: 75%"
                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="fs-7">Seats left</span>
                    </div>
                </div>
            </div>
            <hr class="my-2 border border-secondary">
            <div class="vol-buttons w-100 d-flex justify-content-between">
                <button class="d-flex fav-btn justify-content-center align-items-center btn-ci-secondary w-50 m-1 px-0 text-secondary fs-7">
                    <img src="~/images/heart1.png" alt="" class="me-1">
                    <span class="d-none d-sm-block d-md-none d-xl-block">
                        Add to Favourite
                    </span>
                </button>
                <button class="d-flex share-btn justify-content-center align-items-center btn-ci-secondary w-50 m-1 px-0 text-secondary fs-7">
                    <img src="~/images/add1.png" alt="" class="me-1">
                    <span class="d-none d-sm-block d-md-none d-xl-block">
                        Recommend to a Co-Worker
                    </span>
                </button>
            </div>
            <div class="position-relative mt-4">
                <hr class="border border-secondary">
                <div class="star">
                    <div class="fs-7">
                        <a role="button"><img src="~/images/star-empty.png" alt=""></a>
                        <a role="button"><img src="~/images/star-empty.png" alt=""></a>
                        <a role="button"><img src="~/images/star-empty.png" alt=""></a>
                        <a role="button"><img src="~/images/star-empty.png" alt=""></a>
                        <a role="button"><img src="~/images/star-empty.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-6 col-sm-3 col-md-6 col-lg-3 vol-mission-detail">
                    <div class="h-100 w-100 border p-2 position-relative">
                        <div class="position-absolute top-0 mt-1">
                            <img src="~/images/pin1.png" alt="">
                        </div>
                        <div class="position-absolute bottom-0 mb-1">
                            <div class="text-secondary fs-7">City</div>
                            <div class="line-h">London</div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-6 col-lg-3 vol-mission-detail">
                    <div class="h-100 w-100 border p-2 position-relative">
                        <div class="position-absolute top-0 mt-1">
                            <img src="~/images/web.png" alt="">
                        </div>
                        <div class="position-absolute bottom-0 mb-1">
                            <div class="text-secondary fs-7">Theme</div>
                            <div class="line-h">Environment</div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-6 col-lg-3 vol-mission-detail">
                    <div class="h-100 w-100 border p-2 position-relative">
                        <div class="position-absolute top-0 mt-1">
                            <img src="~/images/calender.png" alt="">
                        </div>
                        <div class="position-absolute bottom-0 mb-1">
                            <div class="text-secondary fs-7">Date</div>
                            <div class="line-h">Ongoing Opportunity</div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-6 col-lg-3 vol-mission-detail">
                    <div class="h-100 w-100 border p-2 position-relative">
                        <div class="position-absolute top-0 mt-1">
                            <img src="~/images/organization.png" alt="">
                        </div>
                        <div class="position-absolute bottom-0 mb-1">
                            <div class="text-secondary fs-7">Organization</div>
                            <div class="line-h">CSE Network</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 text-center mt-3">
                <button class="btn-ci-primary">
                    Apply Now&nbsp;&nbsp;&nbsp;<img src="~/images/right-arrow.png" alt="">
                </button>
            </div>
        </div>
    </div>

    <div class="row mt-1 mt-md-3">
        <div class="col-12 col-md-7 col-lg-8 text-muted fs-7 ps-2 ps-lg-0">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-mission-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-mission" type="button" role="tab" aria-controls="nav-mission"
                            aria-selected="true">
                        Mission
                    </button>
                    <button class="nav-link" id="nav-organization-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-organization" type="button" role="tab"
                            aria-controls="nav-organization" aria-selected="false">
                        Organization
                    </button>
                    <button class="nav-link" id="nav-comment-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-comment" type="button" role="tab" aria-controls="nav-comment"
                            aria-selected="false">
                        Comments
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active text-muted" id="nav-mission" role="tabpanel"
                     aria-labelledby="nav-mission-tab">
                    <h3 class="my-2 my-md-3">Introduction</h3>
                    <p class="m-0">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus amet autem,
                        voluptas quasi earum id, praesentium eveniet delectus quia sequi non nemo ut nobis
                        quod unde cum qui, vel nihil. <br> <br> Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Quos provident ea distinctio quasi? Similique placeat itaque
                        voluptatibus, recusandae reprehenderit dolor iusto, neque quibusdam mollitia vitae
                        rem molestiae quo cumque pariatur?
                        <br> <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam alias
                        modi
                        repellendus accusamus atque eos provident? Natus placeat cumque odit quis ipsam
                        veniam necessitatibus, ipsum earum dolore ut impedit illum?Lorem ipsum dolor sit
                        amet consectetur, adipisicing elit. Ea porro ducimus autem tempora obcaecati ipsum
                        earum cupiditate amet exercitationem, maxime aliquid ab pariatur facilis nisi aut
                        libero nemo suscipit numquam?
                    </p>
                    <h3 class="my-2 my-md-3">Challenge</h3>
                    <p class="m-0">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deleniti, in
                        exercitationem sunt, voluptas expedita harum vero, vel sit modi sequi. Explicabo
                        ipsam est aperiam nulla non nobis ullam cumque. Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Dolor quidem, voluptatum vel debitis earum cum nisi
                        maiores autem ipsam facilis molestias dicta, consectetur excepturi porro qui
                        perferendis voluptate fugiat libero.
                        <br><br>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis neque repellat
                        fuga, repudiandae necessitatibus maiores deserunt dicta porro odio perferendis minus
                        temporibus perspiciatis nihil aspernatur aut eos velit similique ullam?
                    </p>
                    <h3 class="my-2 my-md-3">Documents</h3>
                    <div class="d-flex flex-wrap align-items-center">
                        <div class="rounded-pill text-muted border py-1 px-3 me-2 mb-2">
                            <a href="#">
                                <img src="~/images/pdf.png" alt="pdf">
                                <span class="text-muted">lorem-ipsum.pdf</span>
                            </a>
                        </div>
                        <div class="rounded-pill text-muted border py-1 px-3 me-2 mb-2">
                            <a href="#">
                                <img src="~/images/doc.png" alt="pdf">
                                <span class="text-muted">lorem-doc-ipsum.doc</span>
                            </a>
                        </div>
                        <div class="rounded-pill text-muted border py-1 px-3 me-2 mb-2">
                            <a href="#">
                                <img src="~/images/xlsx.png" alt="pdf">
                                <span class="text-muted">lorem-xlsx-ipsum.xls</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade py-3" id="nav-organization" role="tabpanel"
                     aria-labelledby="nav-organization-tab">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur harum dignissimos
                    eligendi nesciunt molestias iure laudantium repellendus expedita autem, tempora
                    accusamus, consectetur ducimus quis, esse ut modi. Molestias, rerum? Quisquam optio
                    veniam dolorum voluptatibus esse possimus quae itaque nam ut magnam quaerat dolorem
                    recusandae amet quasi consequatur a?
                    Tempore, vero accusamus voluptate nemo eveniet optio ipsum voluptates repudiandae nihil,
                    commodi sed sint cumque ut doloribus deleniti?
                </div>
                <div class="tab-pane fade py-3" id="nav-comment" role="tabpanel"
                     aria-labelledby="nav-comment-tab">
                    <div class="comment-post w-100">
                        <textarea name="comment" id="" cols="100" rows="4"
                                  class="form-control mb-3"></textarea>
                        <button class="btn-ci-primary">Post Comment</button>
                    </div>
                    <div class="comment-list mt-3">
                        <div class="comment-box">
                            <div class="row">
                                <div class="col-2 p-0">
                                    <div class="comment-avatar">
                                        <img src="~/images/user-img.png" />
                                    </div>
                                </div>
                                <div class="col-10 ps-2 ps-md-0">
                                    <div>
                                        <h6 class="m-0 p-0">Name</h6>
                                        <p class="p-0 m-0 text-muted fs-time">TimeStamp</p>
                                    </div>
                                    <div class="line-h mt-2">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quasi
                                        accusamus quis itaque harum distinctio, excepturi debitis omnis
                                        accusantium tenetur in reiciendis dolorem, nostrum possimus placeat
                                        ab ducimus est labore?
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-4">
            <div class="row g-2">
                <div class="col-12 col-sm-6 col-md-12">
                    <div class="w-100 border p-2">
                        <div class="nav nav-tabs">
                            <button class="nav-link active" type="button" role="tab"
                                    disabled>
                                Information
                            </button>
                        </div>
                        <table id="tableRating" class="table m-0 fs-7 text-muted">
                            <tbody>
                                <tr>
                                    <td>Skills</td>
                                    <td>Cool, Easy going, Math, Computer</td>
                                </tr>
                                <tr>
                                    <td>Days</td>
                                    <td>Weekend only</td>
                                </tr>
                                <tr>
                                    <td>Rating</td>
                                    <td>
                                        <span>
                                            <img src="~/images/selected-star.png" alt="">
                                            <img src="~/images/selected-star.png" alt="">
                                            <img src="~/images/selected-star.png" alt="">
                                            <img src="~/images/selected-star.png" alt="">
                                            <img src="~/images/selected-star.png" alt="">
                                        </span>
                                        (by 125 volunteers)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-12">
                    <div class="w-100 border p-2">
                        <div class="nav nav-tabs">
                            <button class="nav-link active" type="button" role="tab" disabled>
                                Recent
                                Volunteers
                            </button>
                        </div>
                        <div class="m-3">
                            <div class="row g-3 text-muted">
                                <div class="col-4">
                                    <div class="recent-vol">
                                        <img src="~/images/user-img.png" />
                                    </div>
                                    <div class="text-center mt-1 recent-vol-name">Volunteer</div>
                                </div>
                                <div class="col-4">
                                    <div class="recent-vol">
                                        <img src="~/images/user-img.png" />
                                    </div>
                                    <div class="text-center mt-1 recent-vol-name">Volunteer</div>
                                </div>
                                <div class="col-4">
                                    <div class="recent-vol">
                                        <img src="~/images/user-img.png" />
                                    </div>
                                    <div class="text-center mt-1 recent-vol-name">Volunteer</div>
                                </div>
                                <div class="col-4">
                                    <div class="recent-vol">
                                        <img src="~/images/user-img.png" />
                                    </div>
                                    <div class="text-center mt-1 recent-vol-name">Volunteer</div>
                                </div>
                                <div class="col-4">
                                    <div class="recent-vol">
                                        <img src="~/images/user-img.png" />
                                    </div>
                                    <div class="text-center mt-1 recent-vol-name">Volunteer</div>
                                </div>
                                <div class="col-4">
                                    <div class="recent-vol">
                                        <img src="~/images/user-img.png" />
                                    </div>
                                    <div class="text-center mt-1 recent-vol-name">Volunteer</div>
                                </div>
                                <div class="col-4">
                                    <div class="recent-vol">
                                        <img src="~/images/user-img.png" />
                                    </div>
                                    <div class="text-center mt-1 recent-vol-name">Volunteer</div>
                                </div>
                                <div class="col-4">
                                    <div class="recent-vol">
                                        <img src="~/images/user-img.png" />
                                    </div>
                                    <div class="text-center mt-1 recent-vol-name">Volunteer</div>
                                </div>
                                <div class="col-4">
                                    <div class="recent-vol">
                                        <img src="~/images/user-img.png" />
                                    </div>
                                    <div class="text-center mt-1 recent-vol-name">Volunteer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 d-flex justify-content-between align-items-center border border-top-0 recent-vol-page">
                <button class="btn border-end"><span aria-hidden="true">&lsaquo;</span></button>
                <div class="fs-7">1-9 of 25 Recent Volunteers</div>
                <button class="btn border-start"><span aria-hidden="true">&rsaquo;</span></button>
            </div>
        </div>
    </div>
</div>



<hr class="my-5">
<div class="container-lg container-fluid">
    <div class="text-center">
        <h3>
            Related Missions
        </h3>
    </div>
    <div class="d-flex flex-nowrap related-mission">
        <div class="card-related-mission">
            <a asp-area="Volunteer" asp-action="Mission_volunteering" asp-controller="Home">
                <div class="card">
                    <div class="row list position-relative card-min-h">
                        <div class="col-listview-img col-12">
                            <div class="position-relative w-100 h-100">
                                <div class="city-name">
                                    <img src="~/images/pin.png" alt="" class="w-100 h-100">
                                    <p>Abc</p>
                                </div>
                                <button class="like-mission">
                                    <img src="~/images/heart.png" alt="" class="w-100 h-100">
                                </button>
                                <button class="share-mission">
                                    <img src="~/images/user.png" alt="" class="w-100 h-100">
                                </button>
                                <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png"
                                     class="card-img-top" alt="a">
                                <div class="w-100 position-relative d-flex justify-content-center">
                                    <div class="theme-mission">
                                        Environment
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-listview-body col-12">
                            <div class="card-body">
                                <h5 class="card-title">Title</h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit dolor
                                    adipisci
                                    assumenda
                                    odio maxime maiores.
                                </p>
                                <div class="rating">
                                    <div class="h-100">
                                        <span class="orga">Australian Paradise</span>
                                    </div>
                                    <span class="rating-img">
                                        <img src="~/images/selected-star.png" alt="">
                                        <img src="~/images/selected-star.png" alt="">
                                        <img src="~/images/selected-star.png" alt="">
                                        <img src="~/images/star.png" alt="">
                                        <img src="~/images/star.png" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="time-goal">
                                <hr>
                                <div class="timeline">
                                    <div class="fs-7">
                                        From 20/04/2020 until 20/05/2020
                                    </div>
                                </div>
                                <div class="seat-left m-3 mt-4 d-flex justify-content-between align-content-center">
                                    <div class="d-flex justify-content-between flex-wrap p-0 m-0 h-100 w-100">
                                        <div class="d-flex align-items-center h-100 seat-listview">
                                            <div class="px-2">
                                                <img src="~/images/Seats-left.png" alt="">
                                            </div>
                                            <div class="seat">
                                                <h6 class="p-0 m-0">10</h6>
                                                <span class="fs-7">Seats left</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center h-100 deadline-listview">
                                            <div class="px-2">
                                                <img src="~/images/deadline.png" alt="">
                                            </div>
                                            <div class="deadline">
                                                <h6 class="p-0 m-0">09/05/2020</h6>
                                                <span class="fs-7">Deadline</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-2">
                                <div class="text-center pb-2 button">
                                    <button class="btn-ci-primary">
                                        Apply&nbsp;&nbsp;&nbsp;<img src="~/images/right-arrow.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<script src="~/js/gallary.js" asp-append-version="true"></script>