@{
    ViewData["Title"] = "Home Page";
}
@model VMMissions

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    id = 0;
    function myfilter(fpg,fid,c){
        if(c!=null){
            country = c;
        }
        else{
            country = "";
        }

        var cities = "";
        $("input[name='city']:checked").each(function () {
            cities += $(this).val() + ",";
        });

        var theme = "";
        $("input[name='theme']:checked").each(function () {
            theme += $(this).val() + ",";
        });

        var skill = "";
        $("input[name='skill']:checked").each(function () {
            skill += $(this).val() + ",";
        });



        if(fid!=0){
            id=fid;
        }


        var searchquery = $("input[name='search']").val();
        $.ajax({
            type: 'POST',
            url: "/Volunteer/Mission/FilterMissions",
            data: { 'pg': fpg, 'id': id,'search': searchquery, 'country': country, 'cities': cities, 'theme': theme, 'skill': skill },
            success: function (res) {
                $('.gridajax').html($($.parseHTML(res)).filter("#gridviewpartial")[0].innerHTML);
                $('.listajax').html($($.parseHTML(res)).filter("#listviewpartial")[0].innerHTML);
                $('#pagination').html($($.parseHTML(res)).filter("#paginationpartial")[0].innerHTML);
                $('#count').html($($.parseHTML(res)).filter("#countpartial")[0].innerHTML);
            },
            error: function (data) {
                alert("some Error");
            }
        });

    }


    $(document).ready(function(){
        myfilter(fpg = 1, fid = 0);
    })
</script>


<link rel="stylesheet" href="~/css/mission_page.css" asp-append-version="true" />

<partial name="filter" model="Model" />

<partial name="secondNav" model="Model" />

<partial name="RecommendedMissionModel" />



<div class="container-lg container-fluid py-3 d-flex flex-wrap">
    <div class="d-flex flex-wrap align-items-center" id="filterlistcity">
    </div>
    <div class="d-flex flex-wrap align-items-center" id="filterlist">
    </div>
</div>
<div class="container-lg container-fluid">
    <div class="d-inline-flex align-items-center justify-content-between w-100">
        <div class="fs-3" id="count"></div>
        <div class="d-none d-sm-block">
            <select class="sort-by my-1 me-3" onchange="myfilter(fpg = 1, fid = this.value);">
                <option value="">Sort By</option>
                <option value="1">A To Z</option>
                <option value="2">Z To A</option>
                <option value="3">Newest First</option>
                <option value="4">Oldest First</option>
            </select>
            <button class="p-2 border-0 bg-white rounded-circle grid-active" id="grid">
                <img src="~/images/grid.png"
                     alt="">
            </button>
            <button class="p-2 border-0 bg-white rounded-circle" id="list">
                <img src="~/images/list.png"
                     alt="">
            </button>
        </div>
    </div>
</div>


<div class="container-lg container-fluid">
    <div class="row gridajax" id="searchResults">
    </div>
    <div class="row listajax d-none" id="searchResults">
    </div>
</div>

<div id="pagination">
</div>