@model CI_Platform.Models.Banner

@{
    ViewData["Title"] = "EditBanner";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<div class="w-100">
    <div class="border rounded-1">
        <div class="px-3 py-2 fs-3 border-bottom bg-light">
            Edit
        </div>
        <div class="p-3">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" class="form-control" placeholder="Enter Banner Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Text" class="form-label">Text</label>
                    <textarea asp-for="Text" rows="5" class="form-control h-auto" placeholder="Enter Banner Text"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Select Banner</label>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label for="readUrl" class="image-admin-upload">+</label>
                            <input type="file" name="imageFile" id="readUrl" class="d-none">
                        </div>
                        <div class="col-12 col-md-6 mt-2 mt-md-0" style="height:100px;">
                            <img id="uploadedImage" class="h-100 border" src="~/images/banners/@Model.Image" alt="Uploaded Image" accept="image/png, image/jpeg">
                        </div>
                    </div>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="SortOrder" class="form-label"></label>
                    <input type="number" asp-for="SortOrder" class="form-control" placeholder="Enter Banner Order" />
                    <span asp-validation-for="SortOrder" class="text-danger"></span>
                </div>
                <div class="form-group text-end">
                    <a role="button" class="btn-ci-secondary" asp-action="Index" asp-controller="BannerManagement" asp-area="Admin">Cancel</a>
                    <input type="submit" value="Save" class="open-loader btn-ci-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(()=>{
        $("#bannerLi").addClass('active');
    })
    document.getElementById('readUrl').addEventListener('change', function(){
        if (this.files[0] ) {
            var picture = new FileReader();
            picture.readAsDataURL(this.files[0]);
            picture.addEventListener('load', function(event) {
                document.getElementById('uploadedImage').setAttribute('src', event.target.result);
            });
        }
    });
</script>